.next
.next-app
node_modules
out
data/*.json
data/opencode-agent-events
data/workspaces
data/server-logs
data/market
!.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
tsconfig.tsbuildinfo
.npm-cache
.opencode/node_modules
.opencode/package-lock.json
.opencode/package.json
